<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <%- include('../link') %>
</head>
<body>
    <div class="container">
        <div class="row">
            <% users.forEach(user => { %>
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="/uploads/<%= user.profileimage %>" class="card-img-top" alt="...">  
                        <div class="card-body">
                          <p class="card-text"><%= user.id %></p>
                          <a href="/users/user_details/<%= user.id %>"><h2 class="card-title"><%= user.firstName %> <%= user.lastName %></h2></a>
                          <!-- <h2 class="card-title"></h2> -->
                          <p class="card-text"><%= user.email %></p>
                          <p class="card-text"><%= user.job_Title %></p>
                          <p class="card-text"><%= user.gender %></p>
                          <a href="/users/update_user/<%= user.id%>" class="btn btn-warning m-2">Update</a>
                          <a href="/users/delete_user/<%= user.id %>" class="btn btn-danger">Delete</a>
                        </div>
                      </div>
                </div>    
            <% }) %>     
        </div>
    </div>
</body> 
</html>