<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <%- include('../link') %>
</head>
<body>
    <form action="/users/updating_user/<%= uid.id%>" method="POST">
        <label for="firstName">Firstname:</label> <input type="text" name="firstName" value="<%=uid.firstName %>">
        <br>
        <label for="lastName">Lastname:</label> <input type="text" name="lastName" value="<%=uid.lastName %>">
        <br>
        <label for="email">Email:</label> <input type="text" name="email" value="<%=uid.email %>">
        <br>
        <label for="profileimage">Profile Image:</label> <input type="file" name="profileimage" value="<%= uid.profileimage %>" />
        <br>
        <label for="job_Title">Job Title:</label> <input type="text" name="job_Title" value="<%=uid.job_Title %>">
        <br> 
        <label for="gender">Gender:</label> <input type="text" name="gender" value="<%=uid.gender %>">
        <br>
        <input type="submit" value="submit">
    </form>
    </form>
</body>
</html>