<div class="content fs-4 border border-dark p-4 m-5">
      <img src="/uploads/<%= user.profileimage %>" alt="" class="image-fluid">      
      <h3>Name: <%= user.firstName %> <%= user.lastName %></h3>
      <p>Email: <%= user.email %> </p>
      <p>Job Title: <%= user.job_Title %></p>
      <p>Gender: <%= user.gender %></p>
</div>

